body {
	background: #dfdfdf;
}

/* ------------ Menú del mapa ------------ */
#map{
	margin-top:2% !important;
	position:relative;
	overflow:hidden;
	/*width:35%;*/
	width: 75%;
	/*height:350px;*/
	height:400px;
	margin: 0 auto;

	
}
/* --------------------------------------- */

#map-panel{
	
	margin: 0 auto !important;
}


#espera {
	display: none;
	background: #404040bd;
	width:100%;
	height:100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

/* ------------ Panel de ruta ------------ */
#right-panel{
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}
#right-panel select, #right-panel input{
	fonst-size: 15px;
}
#right-panel select{
	width:100%;
}
#right-panel i{
	font-size: 12px;
}
#right-panel {
	display: none;
	margin-top:2% !important;
	margin-right: 3%;
	width: 30% !important;
	/*height: 350px;*/
	height: 400px;
	float: right;
	/*width: 390px;*/
	overflow: auto;
}
@media print{
	#right-panel {
		float:none;
		width:auto;
	}
}

/* --------------------------------------- */

/* ----------- Formulari dades ----------- */
#dades{
	width:65%;
	position:relative;
	margin: 0 auto;
	margin-top: 1% !important;
}
/* --------------------------------------- */

/* ------------ Menú del mapa ------------ */
#contextMenu{
	display:none;
	position: absolute;
	background: #fff;
	border-radius: 10px;
	padding: 5px 10px;
	box-shadow: 9px 8px 9px #000;
	margin-left:9px;
	margin-top:-17px;
	
}
.stPopup-arrow-left{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #fff;
	position:absolute;
	top:5px;
	left: -8px;
	
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: .875rem;
	line-height: 1.125rem;
}
#contextMenu li{
	cursor: pointer;
	padding: 5px 10px;
}
#contextMenu li:hover{
	background: #eee;
}
/* --------------------------------------- */

/* ----------- Botons Formulari ---------- */

#guardar{
	display: none;
}

/* --------------------------------------- */

/* ------------- PreLoader --------------- */
.preloader{
	width: 70px;
	height: 70px;
	border: 10px solid #eee;
	border-top: 10px solid #666;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: none;
	margin: 0 auto;
	position:relative;
	top: 40%;
}

@keyframes girar{
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* --------------------------------------- */

/* --------------- Footer ---------------- */
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
	display:inline;
}
.foote_bottom_ul_amrc li a { 
	color:#999;
	margin:0 12px;
}
/* --------------------------------------- */
/* Media Queris */
@media (max-width: 550px) {
	#map{
		width: 100%;
	}
	#dades{
		width: 90%;
	}
/* --------------------------------------- */